body {
    font-family: Arial, sans-serif;
    background-image: url(../img/Oscar.png);
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(../img/fondo.png); /* Color de fondo para el contenedor */
}

input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

textarea {
    width: calc(100% - 12px);
    height: 100px;
    resize: none;
}

/* Estilo para texto blanco */
.white-text {
    color: white;
}